.roomList {
  position: relative;
  min-height: 6rem;
  width: 100%;
}

.title {
  color: var(--color-main);
}

.rooms {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
}
