.videoRow {
  display: flex;
  gap: 0.25rem;
}

.video {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.video > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
