.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 4.5rem;
  background-color: #0f0f0f;
  padding: 0 2rem;
  z-index: 8999;
}

.container {
  display: flex;
  gap: 1rem;
}

.appName {
  color: #fff;
  font-size: 1.5rem;
}
