.playlist {
  background-color: var(--color-light-dark);
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.empty {
  text-align: center;
  margin: 0.5rem 0;
  color: #ababab;
}
